.main-title {
    font-family: "Coustard", serif;
    font-weight: 400;
    font-size: 3em;
    font-style: normal;
    color: #FFFAE5;
}

.terra {
    background-color: #37818A;
}

.light-div {
    background-color: #FFFAE5;
}