.main-title {
    font-family: "Coustard", serif;
    font-weight: 400;
    font-size: 3em;
    font-style: normal;
    color: #FFFAE5;
}

.terra {
    background-color: #37818A;
    width: 80%;
}

.light-div {
    background-color: #FFFAE5;
}

.tile {
    width: 15rem;
    margin: 10px;
}

.switch {
    padding-bottom: 20px;
    padding-top: 20px;
}

.sensor-data{
    color: darkolivegreen;
    padding-top: 10px;
}